<a href="https://colab.research.google.com/github/milkyme/DSlab_practice/blob/main/tensorflow_regression_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

dataset_path = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")

column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight',
                'Acceleration', 'Model Year', 'Origin']
raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      na_values = "?", comment='\t',
                      sep=" ", skipinitialspace=True)

dataset = raw_dataset.copy()
dataset = dataset.dropna()
dataset.tail()

Downloading data from http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
32768/30286 [================================] - 0s 0us/step

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
393  27.0          4         140.0  ...          15.6          82       1
394  44.0          4          97.0  ...          24.6          82       2
395  32.0          4         135.0  ...          11.6          82       1
396  28.0          4         120.0  ...          18.6          82       1
397  31.0          4         119.0  ...          19.4          82       1

[5 rows x 8 columns]

In [ ]:
x_data = dataset['MPG']
y_data = dataset['Displacement']

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

# initial_value from uniform[-1, 1]
w = tf.Variable(tf.random.uniform([1], 0.0, 1.0))
b = tf.Variable(tf.random.uniform([1], -1.0, 1.0))

hypothesis = w*x_data + b

cost = tf.reduce_mean(tf.square(hypothesis - y_data))

rate = tf.Variable(0.001) # learning rate, alpha
optimizer = tf.train.GradientDescentOptimizer(rate)
train = optimizer.minimize(cost)

init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

for step in range(800):
  sess.run(train)
  if step % 50 == 0:
    print('{:4} {} {} {}'.format(step, sess.run(cost), sess.run(w), sess.run(b)))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/util/tf_should_use.py:247: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.
   0 24914.392578125 [7.753277] [-0.349262]
  50 23417.193359375 [6.2402134] [4.0291076]
 100 23031.8984375 [6.071731] [8.415247]
 150 22654.18359375 [5.904916] [12.758004]
 200 22283.908203125 [5.7397504] [17.057806]
 250 21920.9140625 [5.576218] [21.315086]
 300 21565.072265625 [5.4143033] [25.530256]
 350 21216.23046875 [5.25399] [29.70374]
 400 20874.255859375 [5.0952625] [33.83594]
 450 20539.009765625 [4.9381046] [37.927277]
 500 20210.365234375 [4.782501] [41.978146]
 550 19888.189453125 [4.628437] [45.988953]
 600 19572.35546875 [4.4758964] [49.960087]
 650 19262.736328125 [4.3248644] [53.891945]
 700 18959.2109375 [4.175326] [57.78492]
 750 18661.662109375 [4.0272675] [61.639374]

In [ ]:
from six.moves import urllib

import tensorflow.compat.v2.feature_column as fc

dftrain = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')
dfeval = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv')

dftrain.head()

sex = dftrain.pop('sex')

dftrain['sex'] = (sex == 'male')*1.0 # 0 is female, 1 is male
dftrain.tail()

     survived   age  n_siblings_spouses  parch  ...     deck  embark_town alone  sex
622         0  28.0                   0      0  ...  unknown  Southampton     y  1.0
623         0  25.0                   0      0  ...  unknown  Southampton     y  1.0
624         1  19.0                   0      0  ...        B  Southampton     y  0.0
625         0  28.0                   1      2  ...  unknown  Southampton     n  0.0
626         0  32.0                   0      0  ...  unknown   Queenstown     y  1.0

[5 rows x 10 columns]

In [ ]:
x_data = dftrain['sex']
y_data = dftrain['survived'] # 1 is survived, 0 is not.

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
import numpy as np

X = tf.placeholder(tf.float32)
Y = tf.placeholder(tf.float32)

w = tf.Variable(tf.random_uniform([1], -1.0, 1.0))
b = tf.Variable(tf.random_uniform([1], -1.0, 1.0))
h = w*X + b
hypothesis = tf.div(1.0, 1.0 + tf.exp(-h))

cost = -tf.reduce_mean(Y*tf.log(hypothesis) + (1-Y)*tf.log(1-hypothesis))

rate = tf.Variable(0.1)
optimizer = tf.train.GradientDescentOptimizer(rate)
train = optimizer.minimize(cost)

init = tf.initialize_all_variables()

sess = tf.Session()
sess.run(init)

for step in range(2000):
  sess.run(train, feed_dict={X: x_data, Y: y_data})
  if step % 100 == 0:
    print(step, sess.run(cost, feed_dict={X: x_data, Y: y_data}), sess.run(w))

0 0.65716964 [-0.34968114]
100 0.57010275 [-0.92774254]
200 0.5317916 [-1.4223051]
300 0.5128676 [-1.775372]
400 0.5031879 [-2.0282683]
500 0.49806526 [-2.2120755]
600 0.49527508 [-2.3475075]
700 0.4937203 [-2.4484322]
800 0.4928385 [-2.5243223]
900 0.49233153 [-2.5817935]
1000 0.49203685 [-2.6255567]
1100 0.49186447 [-2.659024]
1200 0.4917625 [-2.6847029]
1300 0.49170223 [-2.7044556]
1400 0.49166632 [-2.71968]
1500 0.4916451 [-2.731433]
1600 0.49163225 [-2.7405162]
1700 0.4916246 [-2.7475433]
1800 0.49162003 [-2.7529833]
1900 0.4916173 [-2.7571964]