<a href="https://colab.research.google.com/github/milkyme/DSlab_practice/blob/main/Tensorflow01_Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple Neural Network
- The code below performs neural network which classifies binary category.
- The dataset is titanic data from external, where we want to classify whether one survives or not based on several numerical features.

In [72]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
dftrain = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')
dfeval = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv')
# dftrain.shape (627, 10)
# dfeval.shape (264, 10)
dftrain.head()

   survived     sex   age  ...     deck  embark_town  alone
0         0    male  22.0  ...  unknown  Southampton      n
1         1  female  38.0  ...        C    Cherbourg      n
2         1  female  26.0  ...  unknown  Southampton      y
3         1  female  35.0  ...        C  Southampton      n
4         0    male  28.0  ...  unknown   Queenstown      y

[5 rows x 10 columns]

- 'sex', 'class', and 'alone' features are converted as numerical ones. 
- 'deck' is popped out because there is so many missing values.
- 'embark_town' is also popped out because it's relatively not connected to 'survived'.
- 'survived' is the feature we want to predict.

In [74]:
sex = dftrain.pop('sex')
dftrain['sex'] = (sex == 'male')*1.0              # 0 : female, 1 : male

dfclass = dftrain.pop('class')
dftrain['class'] = (dfclass == 'First')*1.0
dftrain['class'] = (dfclass == 'Second')*2.0
dftrain['class'] = (dfclass == 'Third')*3.0       # 1 : First, 2 : Second, 3 : Third

alone = dftrain.pop('alone')
dftrain['alone'] = (alone == 'y')*1.0             # 0 : n, 1 : y

deck = dftrain.pop('deck')                        # There are too many unknown data
embark_town = dftrain.pop('embark_town')          # Non-related with survived

survived = dftrain.pop('survived')                # It's label.

dftrain.head()

    age  n_siblings_spouses  parch     fare  sex  class  alone
0  22.0                   1      0   7.2500  1.0    3.0    0.0
1  38.0                   1      0  71.2833  0.0    0.0    0.0
2  26.0                   0      0   7.9250  0.0    3.0    1.0
3  35.0                   1      0  53.1000  0.0    0.0    0.0
4  28.0                   0      0   8.4583  1.0    3.0    1.0

- Neural network is comprised of several layers that have various nodes and activation function.
- By trying various combinations with manipulating the number of layers and nodes, I notice two things. First one is simply increasing the number of layer does not help to get a high accuracy(even in some cases, causes lower accuracy). Second one is increasing the number of nodes is of help to some degree, but it's not always in effect.(empirically, above 256 is meaningless for these dataset and model. Of course, these two things are valid only for this example.)
- I used some optimizers like SGD, RMSprop, and Adam, but there is no outstanding performed one.
- Categorical cross entropy is used as loss function because our goal is doing binary classifying.
- Finally, we can get about 70% accuracy.(It depends on the circumstances.)

In [134]:
model = keras.Sequential([
    keras.layers.Dense(256, activation='sigmoid'),
    keras.layers.Dense(2, activation='sigmoid')
])

model.compile(optimizer='Adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

model.fit(dftrain, survived, epochs=5)

Epoch 1/5
20/20 [==============================] - 0s 2ms/step - loss: 0.6454 - accuracy: 0.6585
Epoch 2/5
20/20 [==============================] - 0s 1ms/step - loss: 0.6562 - accuracy: 0.6223
Epoch 3/5
20/20 [==============================] - 0s 1ms/step - loss: 0.5730 - accuracy: 0.7181
Epoch 4/5
20/20 [==============================] - 0s 1ms/step - loss: 0.6370 - accuracy: 0.6346
Epoch 5/5
20/20 [==============================] - 0s 1ms/step - loss: 0.5689 - accuracy: 0.7186